[data-platform="darwin"] {
  --color-background-primary: #fcfcfa;
  --color-background-secondary: #fff;

  --color-text-primary: #1a1a1a;

  --color-primary-image: linear-gradient(90deg, #0052f0, #0044f3);
  --color-primary-image-in-text: #e7f6ff;
}
