[data-platform="darwin"] {
  --color-background-primary: #fcfcfa;
  --color-background-secondary: #fff;

  --color-text-primary: #1a1a1a;

  --color-primary-image: linear-gradient(90deg, #004fec, #0042f1);
  --color-primary-image-in-text: #e7f6ff;

  --color-btn-border-bottom: #0003;
}
