[data-platform="win32"] {
  --color-background-primary: #fff;
  --color-background-secondary: #cccccc;
  --color-background-secondary-with-transparency-primary: #cccccc80;
  --color-background-hover: #e6e6e6;
  --color-background-hover-with-transparency-primary: #f0f0f080;
  --color-background-popup: #f2f2f2;
  --color-background-block: #d6d6d6;
  --color-background-active: #999999;

  --color-text-primary: #000;
  --color-text-secondary: #222;
  --color-text-disabled: #888;
  --color-text-clicked: #656565;

  --color-primary: #0078d4;
  --color-primary-hover: #0091f8;
  --color-primary-active: #0067c0;
  --color-primary-in-text: #fff;
  --color-primary-disabled-in-text: #94d1ff;

  --color-border-primary: #cccccc;

  @media (prefers-color-scheme: dark) {
    --color-background-primary: #000;
    --color-background-secondary: #2f2f2f;
    --color-background-secondary-with-transparency-primary: #2f2f2f80;
    --color-background-hover: #191919;
    --color-background-hover-with-transparency-primary: #42424280;
    --color-background-popup: #2b2b2b;
    --color-background-block: #333333;
    --color-background-active: #666666;

    --color-text-primary: #fff;
    --color-text-secondary: #d8d8d8;

    --color-border-primary: #101010;
  }
}
