[data-platform="darwin"]{
    .btn{
        background-color: var(--color-background-secondary);
        border: 1px solid #0002;
        outline: none;
        border-radius: 4px;
        box-shadow: var(--shadow-btn-primary);
        padding: 2px 6px;

        &:active{
            background-image: var(--color-primary-image);
            color: var(--color-primary-image-in-text);
            box-shadow: none;
        }
    }
}