// Alerts
//
// References
// https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/infobar

[data-platform="win32"] {
  .alert {
    background-color: var(--color-background-popup);
    color: var(--color-text-primary);
    padding: 8px;

    .alert-title {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 8px;
    }

    .alert-desc {
      font-size: 16px;
      margin: 0;
    }

    .alert-close {
      padding: 4px;
      float: right;
      margin: 0px;
      width: 36px;
      height: 36px;
      background-color: transparent;
    }
  }
}
