// Buttons
//
// References
// https://docs.microsoft.com/windows/uwp/design/controls-and-patterns/buttons (Buttons - UWP applications | Microsoft Docs)

[data-platform="win32"] {
  .btn {
    color: var(--color-text-secondary);
    background-color: var(--color-background-secondary);
    border-radius: 4px;
    overflow: hidden;
    outline: none;
    border: none;
    padding: 0;
    margin: 4px 0;
    font-size: 14px;
    padding: 6px 8px;
    user-select: none;
    &:hover,
    &:focus {
      background-color: var(--color-background-hover);
    }
    &:active {
      background-color: var(--color-background-active);
    }

    &.disabled {
      color: var(--color-text-disabled);
      pointer-events: none;
    }

    &.btn-primary {
      background-color: var(--color-primary);
      color: var(--color-primary-in-text);
      &:hover,
      &:focus {
        background-color: var(--color-primary-hover);
      }
      &:active {
        background-color: var(--color-primary-active);
      }

      &.disabled {
        color: var(--color-primary-disabled-in-text);
      }
    }
  }
}
