// Dropdowns
//
// References
// https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/buttons#create-a-drop-down-button (Buttons - UWP applications | Microsoft Docs)

[data-platform="win32"] {
  .dropdown-menu {
    min-width: 100px;
    width: min-content;
    padding: 0 0;
    background-color: var(--color-background-hover);
    border-radius: 4px;
    list-style: none;
    height: 0px;
    overflow: hidden;
    margin: 4px 0;
    opacity: 0;
    pointer-events: none;
    border: 1px solid transparent;
    box-shadow: 0 0 0 #0000;

    &.open {
      height: var(--height);
      padding: 6px 0;
      opacity: 1;
      pointer-events: initial;
      border-color: var(--color-background-secondary);
      box-shadow: var(--shadow-flyout-primary);
      transition: var(--animation-duration-primary)
        var(--animation-curve-primary);
      transition-property: height, box-shadow;

      .dropdown-item,
      .dropdown-divider {
        transform: translateY(0);
        transition: transform var(--animation-duration-primary)
          var(--animation-curve-primary);
      }
    }

    .dropdown-item {
      color: var(--color-text-secondary);
      background-color: transparent;
      border: none;
      outline: none;
      padding: 6px 8px;
      width: 100%;
      font-size: 14px;
      display: block;
      text-align: left;
      text-decoration: none;
      cursor: default;
      transform: translateY(var(--0-height));

      &:hover,
      &:focus {
        background-color: var(--color-background-block);
      }
      &:active {
        background-color: var(--color-background-active);
      }
    }

    .dropdown-divider {
      border: none;
      border-top: 1px solid var(--color-background-active);
      margin: 4px 8px;
      transform: translateY(var(--0-height));
    }
  }
  .dropdown {
    position: relative;

    .dropdown-menu {
      position: absolute;
      inset: 0px auto auto 0px;
      transform: translate(0px, var(--clicked-item-height));
    }
  }
}
